body{
    margin: 0 ;
    padding: 0;
   color: #636060;
    font-family: sans-serif;

}

h1{
    text-align: center;
height: 100px;
    margin-top: 0;
    color: white;
    padding: 5px;
    background: #812500; /* Old browsers */
    background: -moz-linear-gradient(left,  #812500 0%, #5f6c0a 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #812500 0%,#5f6c0a 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #812500 0%,#5f6c0a 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#812500', endColorstr='#5f6c0a',GradientType=1 ); /* IE6-9 */

}

#hr{
    border-top: 1px solid #efefef;
    margin-top: 5%;
    height: 5px;
}

table{
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;
    border-collapse: collapse;
}


table th, table td {
    border: solid 1px;
}

td, th{
    padding: 5px;
}

thead{
    background: #812500; /* Old browsers */
    background: -moz-linear-gradient(left,  #812500 0%, #5f6c0a 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #812500 0%,#5f6c0a 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #812500 0%,#5f6c0a 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#812500', endColorstr='#5f6c0a',GradientType=1 ); /* IE6-9 */
}

 th{
    padding: 5px;

     color: white;
     font-size: 20px;
}

td{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

img{
    width: 100%;
    position: absolute;
    display: block;
    margin-top: -50px;
    z-index: -2;

    /*filter: sepia(1);*/
    /*-webkit-filter: sepia(1);*/

}


/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#812500+0,5f6c0a+99 */












